<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           

 <import resource="department.xml"/>

<bean class="com.te.beans.Employee " id="emp"/>
<!-- <bean class="com.te.beans.Employee" id="empOne">
<constructor-arg name="id" value="10"></constructor-arg>
<constructor-arg name="name" value="shweta"></constructor-arg>
</bean> -->

<bean class="com.te.beans.Employee" id="empTwo">
<property name="id" value="20"></property>
<property name="name" value="kaveri"></property>
<property name="dept" ref="dept"></property>
</bean>

</beans> 